.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px rgba(92, 99, 105, 0.2);
}

.title {
  font-size: 50px;
  margin-bottom: 50px;
}

.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
  /* background-color: red; */
}



/* input[type="text"], */
input[type="email"],
input[type="password"]
 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #dadce0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px !important;
  outline: none;
  background: none;
  z-index: 1;
}

.input{
  position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #dadce0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px !important;
    outline: none;
    background: none;
    z-index: 1;
}



/* Hide the placeholder texts (a) */

::placeholder {
  color: transparent;
}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #bdc3ce;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.submitBtn {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: var(--btn-background-color-secondary);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
  box-shadow: 3px 3px 16px rgb(73, 69, 69);
}

.submitBtn:hover {
  /* background-color: #9867C5; */
  scale: 1.05;
  transform: translateY(-2px);
}

.submitBtn:active {
  scale: 0.95;
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: purple;
}

.input:focus {
  border: 2px solid purple;
}

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.forgot-password{
  text-decoration: none;
  margin-top: 6px;


}

.forgot-password:hover{
  text-decoration: underline;
}

/* Existing CSS */

/* Add this media query for iPhone SE */
@media only screen and (max-width: 320px) {
  .form {
    width: 90%;
    padding: 20px;
  }

  .title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .inputContainer {
    width: 100%;
    margin-bottom: 15px;
  }

  input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 14px;
  }

  .label {
    top: 10px;
    left: 10px;
    font-size: 14px;
  }

  .submitBtn {
    padding: 12px 24px;
    font-size: 14px;
    margin-top: 20px;
  }
}
