/* Styles for UpdatePassword.jsx */

/* General styling */
.container {
    width: 95%;
    /* Increased width */
    max-width: 800px;
    /* Adjusted max-width */
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    /* border: 1px solid #ced4da; */
    /* Border added to outer container */
    border-radius: 5px;
}

.panel {
    background-color: #fff;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    /* Added border-radius to inner panel */
}

img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.btn {
    background-color: #007bff;
    margin: 0 auto;
    transition: background-color 0.3s ease-in-out;
}



/* Responsiveness for iPhone SE screens */
@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    input {
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
    }
}